/* Getting the new tags to behave */

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
    display: block
}

mark,
rp,
rt,
ruby,
summary,
time {
    display: inline
}


/* Left & Right alignment */

.left {
    float: left
}

.right {
    float: right
}

.wrapper {
    width: 100%;
    overflow: hidden
}



/* Global properties ======================================================== */

body {
    background: #ffffff;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    color: #034B98;
    line-height: 20px;
    min-width: 800px;
    overflow: hidden
    height: 100%
}



* {
    margin: 0;
    padding: 0;
}


/* Global Structure ============================================================= */

.main {
    margin: 0 auto;
    width: 1100px
}

.read_more {
    margin-top: 10px;
    padding: 5px;
    border: 1px dotted green;
    font-style: italic;
}

.survey {
    font-weight: bold;
}

.bg_spinner {
    width: 100px;
    height: 13px;
    position: absolute;
    z-index: 2;
    background: url(../images/loader.gif) 0 0 no-repeat;
    top: 5px;
    left: 5px;
    overflow: hidden;
}

.spinner {
    position: absolute;
    z-index: 99;
    background: url(../images/loader.gif) 50% 50% no-repeat #ffffff;
    ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.block {
    height: 92px
}

.extra {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -92px;
    position: relative
}


.bg1 {
    background: #ffffff;
    ;
    position: relative;
    z-index: 1;
    height: 92px
}

.box {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative
}

.pagination {
    position: absolute;
    top: -35px;
    left: 0
}

.pagination li {
    float: left;
    padding-right: 2px;
    font-size: 20px;
    line-height: 34px
}

.pagination a {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #ffffff;
    ;
    text-align: center;
    text-decoration: none;
    text-align: center;
    background: #034B98
}

.pagination a:hover,
.pagination .current a {
    background-position: left;
    color: #034B98;
    background: #ffffff;
}


/* ============================= main layout ====================== */

a {
    color: #034B98;
    text-decoration: underline;
    outline: none
}

a:hover {
    text-decoration: none
}

h1 {
    padding: 10px 10px 10px 20px
}

h2 {
    font-size: 26px;
    line-height: 1.2em;
    padding: 17px 0 20px 0;
    color: #034B98;
    font-weight: 700
}

p {
    padding-bottom: 20px
}


/* ============================= header ====================== */

header {
    width: 300px;
    float: left
}

#logo {
    display: block;
    background: url(../images/logo3.png) 0 0 no-repeat;
    width: 260px;
    height: 200px
}

#menu > li {
    width: 300px;
}

#menu > li > a.qa {
    width: 40px;
    background: url(../images/qa.png) 3px 15px no-repeat;
}
#menu > li > a:hover.qa {
    background: url(../images/qa_pressed.png) 3px 15px no-repeat;
}
#menu > li > a.active.qa {
    border: none;
}

#menu > li > a {
    display: inline-block;
    font-size: 20px;
    width: 240px;
    padding: 20px 5px 20px 5px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    letter-spacing: 3px;
    cursor: pointer
}

#menu > li > a:hover {
    color: #f5b80d;
}

#menu > li > a.active {
    color: #f5b80d;
    border: 5px solid #f5b80d;
    padding: 15px 0px 15px 0px;
}

header #pivot {
    position: relative;
    vertical-align: bottom;
    margin-top:20px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    background-color: #dcdc00;
    font-size: smaller;
    line-height: 15pt;
}


header #survey {
    position: relative;
    vertical-align: bottom;
    margin-top:0px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    background-color: #dcdcdc;
    line-height: 20pt;
}


/* ============================= content ====================== */


article li {
    margin-left: 20px;
}

#content {
    height: 8px;
    width: 740px;
    float: left;
    position: relative
}

#content > ul > li {
    position: relative;
    height: 868px;
    width: 100%;
    bottom: 0
}

.box1 {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.inner {
    padding: 0px 15px 0px 15px;
    position: relative;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../images/close.gif) 0 0 no-repeat;
    display: block
}

.close span {
    display: block;
    background: url(../images/close.gif) 0 bottom no-repeat;
    width: 100%;
    height: 100%
}

.pad_left1 {
    /*padding-left: 60px*/
}

/*Center images*/
.pad_left1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pad_bot1 {
    padding-bottom: 25px
}

.pad_bot2 {
    padding-bottom: 4px
}

.pad_bot3 {
    padding-bottom: 10px
}

.marg_right1 {
    margin-right: 29px
}

#page_Services .pad_bot3 {
    padding-bottom: 15px
}

#content figure {
    padding-top: 5px
}

.action {
    border: 1px dotted rgb(214, 23, 64);
    margin-top: 20px;
    padding: 5px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: rgb(214, 23, 64);

}

span.kpa {
    color: orange
}

.button1 {
    /*display: inline-block;*/
    /*font-size: 16px;*/
    /*color: #ffffff;*/
    /*text-transform: uppercase;*/
    /*text-decoration: none;*/
    /*background: #034B98;*/
    /*line-height: 33px;*/
    position: relative
}

.button1 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.button1 strong {
    position: relative;
    font-weight: 400;
    display: block;
    padding: 0 14px;
    letter-spacing: -1px
}

.button1:hover {
    color: #034B98
}

.button2 {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    ;
    text-transform: uppercase;
    text-decoration: none;
    background: #F68712;
    line-height: 33px;
    position: relative
}

.button2 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F68712;
}

.button2 strong {
    position: relative;
    font-weight: 400;
    display: block;
    padding: 0 14px;
    letter-spacing: -1px
}

.button2:hover {
    color: #fff
}

.button3 {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    ;
    text-transform: uppercase;
    text-decoration: none;
    background: #81AF29;
    line-height: 33px;
    position: relative
}

.button3 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #81AF29;
}

.button3 strong {
    position: relative;
    font-weight: 400;
    display: block;
    padding: 0 14px;
    letter-spacing: -1px
}

.button3:hover {
    color: #fff
}

.button4 {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    ;
    text-transform: uppercase;
    text-decoration: none;
    background: #D61740;
    line-height: 33px;
    position: relative
}

.button4 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #D61740;
}

.button4 strong {
    position: relative;
    font-weight: 400;
    display: block;
    padding: 0 14px;
    letter-spacing: -1px
}

.button4:hover {
    color: #fff
}

.button5 {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    ;
    text-transform: uppercase;
    text-decoration: none;
    background: #6AABC7;
    line-height: 33px;
    position: relative
}

.button5 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6AABC7;
}

.button5 strong {
    position: relative;
    font-weight: 400;
    display: block;
    padding: 0 14px;
    letter-spacing: -1px
}

.button5:hover {
    color: #fff
}

.date {
    float: left;
    width: 52px;
    margin-right: 17px;
    text-align: center;
    font-size: 49px;
    font-weight: 700;
    color: #034B98;
    letter-spacing: -1px;
    line-height: 1.2em
}

.date strong {
    margin-top: -9px;
    display: block
}

.date span {
    font-weight: 400;
    font-size: 25px;
    line-height: 1.2em;
    margin-top: -13px;
    display: block
}

.color1 {
    color: #034B98
}

.list1,
.list2 {
    margin-top: -2px
}

.list1 li,
.list2 li {
    line-height: 24px
}

.list1 a,
.list2 a {
    padding-left: 10px;
    background: url(../images/marker_1.gif) 0 6px no-repeat;
    text-decoration: none
}

.list1 a:hover {
    color: #034B98
}

.list2 a {
    color: #034B98
}

.list2 a:hover {
    color: #034B98
}

.tab-content figure {
    padding-bottom: 15px
}

.tab-content figure.marg_right1 {
    margin-right: 20px
}


.pp_details {
    height: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    visibility: visible !important
}

.pp_description {
    display: none;
    height: 0;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0
}

.pp_close {
    position: absolute;
    z-index: 99;
    top: -30px;
    right: 0;
    display: none !important
}

div.light_square .pp_next {
    position: absolute;
    top: 48%;
    right: -68px;
    width: 35px;
    height: 35px;
    background: url(../images/marker_right.gif) left top no-repeat;
    visibility: visible !important
}

div.light_square .pp_next:hover {
    background-position: bottom
}

div.light_square .pp_previous {
    position: absolute;
    top: 48%;
    left: -68px;
    width: 35px;
    height: 35px;
    background: url(../images/marker_left.gif) left top no-repeat;
    visibility: visible !important
}

div.light_square .pp_previous:hover {
    background-position: bottom
}

.pp_arrow_previous,
.pp_arrow_next {
    display: none !important
}

.link1 {
    color: #034B98;
    text-decoration: none
}

.link1:hover {
    text-decoration: underline
}


/* ============================= footer ====================== */

footer {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    padding: 24px 0 0 0;
    letter-spacing: -1px
}

footer a {
    color: #034B98;
    text-decoration: none
}

footer a:hover {
    color: #034B98
}

.col_1 {
    width: 360px;
    float: left
}

.col_2 {
    width: 740px;
    float: left;
    text-align: center
}

#footer_logo {
    float: left;
    background: url(../images/logo_eu.png) 0 0 no-repeat;
    width: 230px;
    height: 76px;
    text-indent: -9999px;
    margin-right: 22px
}



.flip, .panel {padding: 5px; text-align: left; cursor: pointer; color: #fff; }

.panel {padding: 20px; display: none; }

#panelbox, #flipbox {background-color: #e5eecc; border: solid 1px #c3c3c3; }

#panel, #flip, #panelb, #flipb, #paneld, #flipd, #panelx, #flipx {
                   background-color: #244C98; border: solid 5px #244C98; }
#panela, #flipa, #panelc, #flipc, #panele, #flipe, #panelaa, #flipaa {
                   background-color: #F68712; border: solid 5px #F68712; }
#panela1, #flipa1, #panela2, #flipa2, #panela3, #flipa3, #panela4, #flipa4 {
                   background-color: #81AF29; border: solid 5px #81AF29; }
#panelab, #flipab ,#panelac, #flipac, #panelad, #flipad, #panelae, #flipae, #panelaw, #flipaw {
                   background-color: #ffffff; border: solid 5px #ffffff; color: #244C98; }
#panelaf, #flipaf, #panelag, #flipag, #panelah, #flipah {
                   background-color: #6AABC7; border: solid 1px #c3c3c3; }
#panelaq, #flipaq, #panelar, #flipar, #panelat, #flipat, #panelay, #flipay {
                   background-color: #D61740; border: solid 1px #c3c3c3; }





.breadcrumb2 {
    /*centering*/
    display: inline-block;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 3px;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag -1;
}

.breadcrumb2 a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 34px;
    color: white;
    background: rgb(36, 76, 152);
    /*Cornflour blue*/
    background: linear-gradient(rgb(70, 130, 230), rgb(36, 76, 152));
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 45px;
    /*background: #555;*/
    position: relative;
}

.breadcrumb2 a:first-child {
    padding-left: 35px;
    border-radius: 3px 0 0 3px;
    /*to match with the parent's radius*/
}

.breadcrumb2 a:first-child:before {
    left: 14px;
}

.breadcrumb2 a:last-child {
    border-radius: 0 3px 3px 0;
    /*this was to prevent glitches on hover*/
    padding-right: 10px;
}


/*hover/active styles*/

.breadcrumb2 a.active,
.breadcrumb2 a:hover {
    background: rgb(214, 23, 64);
    background: linear-gradient(rgb(246, 135, 18), rgb(214, 23, 64));
}

.breadcrumb2 a.active:after,
.breadcrumb2 a:hover:after {
    background: rgb(246, 135, 18);
    background: linear-gradient(135deg, rgb(246, 135, 18), rgb(214, 23, 64));
}


/*adding the arrows for the breadcrumbs using rotated pseudo elements*/

.breadcrumb2 a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -17px;
    /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 34px;
    height: 34px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: rgb(36, 76, 152);
    /*Cornflour blue*/
    background: linear-gradient(135deg, rgb(70, 130, 230), rgb(36, 76, 152));
    /*stylish arrow design using box shadow*/
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
        5px - for rounded arrows and 
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}


/*we dont need an arrow after the last link*/

.breadcrumb2 a:last-child:after {
    content: none;
}


/*we will use the :before element to show numbers*/

.breadcrumb2 a:before {
    content: counter(flag);
    counter-increment: flag;
    /*some styles now*/
    border-radius: 100%;
    border-width: 0px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    margin: 9px 0;
    position: absolute;
    top: 0;
    left: 22px;
    text-align: center;
    background: rgb(161, 59, 36);
    /*background: linear-gradient(#444, #222);*/
    font-weight: bold;
}

.breadcrumb {
    /*centering*/
    display: inline-block;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 10px 0 60px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
}


/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/

.breadcrumb a:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px;
    /*to match with the parent's radius*/
}

.breadcrumb a:first-child:before {
    left: 14px;
}

.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0;
    /*this was to prevent glitches on hover*/
    padding-right: 20px;
}


/*hover/active styles*/

.breadcrumb a.active,
.breadcrumb a:hover {
    background: #333;
    background: linear-gradient(#333, #000);
}

.breadcrumb a.active:after,
.breadcrumb a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}


/*adding the arrows for the breadcrumbs using rotated pseudo elements*/

.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 36px;
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    /*stylish arrow design using box shadow*/
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
        5px - for rounded arrows and 
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}


/*we dont need an arrow after the last link*/

.breadcrumb a:last-child:after {
    content: none;
}


/*we will use the :before element to show numbers*/

.breadcrumb a:before {
    content: counter(flag);
    counter-increment: flag;
    text-align: center;
    /*some styles now*/
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    background: #444;
    background: linear-gradient(#444, #222);
    font-weight: bold;
}

.flat a,
.flat a:after {
    background: #ffffff;
    ;
    color: black;
    transition: all 0.5s;
}

.flat a:before {
    background: #ffffff;
    box-shadow: 0 0 0 1px #ccc;
}

.flat a:hover {
    background: #F68712;
}

.flat a.active {
    background: #F68712;
}

.flat a:hover:after {
    background: #F68712;
}

.flat a.active:after {
    background: #F68712;
}




/* main menu styles */

.menuholder {
    float: left;
    font: normal bold 11px/35px verdana, sans-serif;
    overflow: hidden;
    position: relative;
}

.menuholder .shadow {
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    background: #888;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    height: 10px;
    left: 5%;
    position: absolute;
    top: -9px;
    width: 90%;
    z-index: 100;
}

.menuholder .back {
    -moz-transition-duration: .4s;
    -o-transition-duration: .4s;
    -webkit-transition-duration: .4s;
    background-color: rgba(0, 0, 0, 0.5);
    height: 0;
    width: 100%;
}

.menuholder:hover div.back {
    height: 250px;
}

ul.menu {
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 5px;
    position: relative;
    text-align: center;
}

ul.menu li {
    float: left;
    margin: 0 5px 0 0;
}

ul.menu li > a {
    -moz-border-radius: 0 0 10px 10px;
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    -moz-transition: all 0.2s ease-in-out;
    -o-border-radius: 0 0 10px 10px;
    -o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    -o-transition: all 0.2s ease-in-out;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.2s ease-in-out;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    color: #fff;
    display: block;
    padding: 0 15px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

ul.menu li a.red {
    background: #244C98;
}

ul.menu li a.orange {
    background: #F68712;
}

ul.menu li a.yellow {
    background: #81AF29;
}

ul.menu li a.green {
    background: #D61740;
}

ul.menu li a.blue {
    background: #6AABC7;
}

ul.menu li a.violet {
    background: #fff;
    color: #244C98;
}

.menu li div.subs {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 35px;
    width: 0;
}

.menu li div.subs dl {
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    float: left;
    margin: 0 130px 0 0;
    overflow: hidden;
    padding: 40px 0 5% 2%;
    width: 0;
}

.menu dt {
    color: #fc0;
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 10px;
    white-space: nowrap;
}

.menu dd {
    margin: 0;
    padding: 0;
    text-align: left;
}

.menu dd a {
    background: transparent;
    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 10px;
    text-align: left;
    white-space: nowrap;
    width: 80px;
}

.menu dd a:hover {
    color: #fc0;
}

.menu li:hover div.subs dl {
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    margin-right: 2%;
    width: 21%;
}

ul.menu li:hover > a,
ul.menu li > a:hover {
    background: #aaa;
    /*color:#fff;*/
    padding: 0px 40px 0;
}

ul.menu li a.red:hover,
ul.menu li:hover a.red {
    background: #244C98;
}

ul.menu li a.orange:hover,
ul.menu li:hover a.orange {
    background: #F68712;
}

ul.menu li a.yellow:hover,
ul.menu li:hover a.yellow {
    background: #81AF29;
}

ul.menu li a.green:hover,
ul.menu li:hover a.green {
    background: #D61740;
}

ul.menu li a.blue:hover,
ul.menu li:hover a.blue {
    background: #6AABC7;
}

ul.menu li a.violet:hover,
ul.menu li:hover a.violet {
    background: #fff;
    color: #244C98;
}

.menu li:hover div.subs,
.menu li a:hover div.subs {
    width: 100%;
}

.Buttonx:active {
    position: relative;
    top: 1px;
}


.image {
    width: 150px;
    position: relative;
    top: 30px;
    left: -200px;
}

.zoom {
    width: 0px;
    position: relative;
    z-index: 2;
}

.image:hover + .zoom {
    width: 400px;
}

.image1 {
    width: 200px;
    position: relative;
    top: 240px;
    left: 70px;
}

.zoom1 {
    width: 0px;
    position: relative;
    z-index: 2;
}

.image1:hover + .zoom1 {
    width: 200px;
    top: 340px;
    left: 30px;
}

.image2 {
    width: 100px;
    position: relative;
    top: 240px;
    left: 220px;
}

.zoom2 {
    width: 0px;
    position: relative;
    z-index: 2;
}

.image2:hover + .zoom2 {
    width: 200px;
    top: 340px;
    left: 180px;
}

.image3 {
    width: 100px;
    position: relative;
    top: 240px;
    left: 370px;
}

.zoom3 {
    width: 0px;
    position: relative;
    z-index: 2;
}

.image3:hover + .zoom3 {
    width: 200px;
    top: 340px;
    left: 330px;
}

.image4 {
    width: 100px;
    position: relative;
    top: 240px;
    left: 520px;
}

.zoom4 {
    width: 0px;
    position: relative;
    z-index: 2;
}

.image4:hover + .zoom4 {
    width: 200px;
    top: 340px;
    left: 480px;
}



/*.................................................-------________-------.............................................................................*/

.hometitle {
    font-size: 20px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #244C98;
}

.leveltitle {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #244C98;
}

.hometxt {
    margin-left: 0px;
    margin-bottom: 20px;
    text-align: left;
}

.hometxta {
    margin-left: 0px;
    margin-top: -80px;
    margin-bottom: 20px;
    text-align: left;
}

.leveltxt {
    font-size: 15px;
    width: 610px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.lev2title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #F68712;
}

.lev2titledet {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #F68712;
}

.lev2txt {
    color: #F68712;
    font-size: 15px;
    width: 610px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.lev2det {
    color: #F68712;
    font-size: 15px;
    margin-top: -60px;
    width: 610px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: left;
}

.lev3title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #81AF29;
}

.lev3titledet {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #81AF29;
}

.lev3tdet {
    color: #81AF29;
    font-size: 15px;
    width: 610px;
    margin-left: 20px;
    margin-top: -100px;
    margin-bottom: 5px;
    text-align: left;
}

.lev4titledet {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #D61740;
}

.lev4tdet {
    color: #D61740;
    font-size: 15px;
    width: 610px;
    margin-left: 20px;
    margin-top: -60px;
    margin-bottom: 5px;
    text-align: left;
}

.lev5titledet {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #6AABC7;
}

.lev5tdet {
    color: #6AABC7;
    font-size: 15px;
    width: 610px;
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 5px;
    text-align: left;
}

.lev3txt {
    color: #81AF29;
    font-size: 15px;
    width: 610px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.lev4title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #D61740;
}

.lev4txt {
    color: #D61740;
    font-size: 15px;
    width: 610px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.lev5title {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #6AABC7;
}

.lev5txt {
    color: #6AABC7;
    font-size: 15px;
    width: 610px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.wordle {
    width: 500px;
    margin: 30px;
    position: relative;
}

.paneltitle {
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    color: #fff;
    background-color: #244C98;
}



div img.arrow {
    width: 25px;
    position: absolute;
    right: 5%;
    padding: 1px 3px 10px 3px;
    vertical-align: bottom;
}


.wcd {
    width: 33%;
    height: 40px;
    float: left;
}

.wcd-logo {
    font-size: 36px;
    color: #fff;
    text-align: center;
    float: left;
    cursor: pointer;
    color: #fff;
    font-size: 32px;
    font-family: 'Varela Round', sans-serif;
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    x²-o-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
}

.wcd-logo:hover {
    color: #3facff;
}

.wcd-tuto {
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
}

.webcodo-top {
    width: 100%;
    height: 40px;
    background-color: #232323
}

.clear {
    clear: both;
}

.grid {
    background: url(../img/grid.png) 50% no-repeat;
}

.grid:hover {
    background: #7eb800 url(../img/gridw.png) 50% no-repeat;
}

.grid-active {
    background: #039fd3 url(../img/gridw.png) 50% no-repeat;
}

.list {
    background: url(../img/list.png) 50% no-repeat;
}

.list:hover {
    background: #7eb800 url(../img/listw.png) 50% no-repeat;
}

.list-active {
    background: #039fd3 url(../img/listw.png) 50% no-repeat;
}

.styled-button-8 {
    cursor: pointer;
    background: #244C98;
    background: -moz-linear-gradient(top, #244C98 0%, #244C98 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #244C98), color-stop(100%, #244C98));
    background: -webkit-linear-gradient(top, #244C98 0%, #244C98 100%);
    background: -o-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
    background: -ms-linear-gradient(top, #25A6E1 0%, #188BC0 100%);
    background: linear-gradient(top, #25A6E1 0%, #188BC0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1', endColorstr='#188BC0', GradientType=0);
    padding: 8px 13px;
    color: #fff;
    font-size: 17px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #1A87B9
}

.typeahead,
.tt-query,
.tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 20px;
    font-size: 18px;
    height: 25px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 400px;
    margin-left: -50px;
}

.typeahead {
    background-color: #FFFFFF;
}

.typeahead:focus {
    border: 2px solid #0097CF;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    color: #999999;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    font-size: 24px;
    line-height: 24px;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}


/************************************************************************************************************************/
